

.section1-create-group-header,
.section2-create-group-location,
.section3-create-group-name,
.section4-create-group-about,
.section5-create-group-type,
.section6-create-group-privacy,
.section7-create-group-image,
.section8-create-group-submit {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Add space between sections */
}

input[type="text"],
textarea,
select {
  width: 100%; /* Ensure inputs are full width within the container */
  padding: 10px;
  margin-top: 5px; /* Add space above inputs */
  border: 1px solid #ccc;
  border-radius: 4px; /* Optional: Add border radius */
}

.create-group-button {
  font-size: 18px;
    width: 100%;
    padding: 10px;
    background-color: #d92323;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-group-button.grey {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.auto-populate-button {
  width: 240px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: darkgrey;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.auto-populate-button:hover {
  background-color: grey;
}