

.group-divider {
    padding-bottom: 40px;
}

.group-card-top {
    display: flex;
}
.group-card-thumbnail {
    width: 240px;
    height: 140px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
}

.group-details {
    margin: 0px 20px 20px 20px;
}

.group-name, .group-location, .group-description, .group-events {
    margin-bottom: 10px; /* Add space between details */
}
.group-location {
    color: grey;
}

.group-events {
    color: #7C6F50;
    font-weight: bold;
}
