.event-detail-page {
    padding: 20px;
}

.breadcrumb {
    margin-bottom: 20px;
}

.breadcrumb-link {
    text-decoration: none;
    color: #0073e6;
}

.event-content {
    display: flex;
}

.event-image img {
    max-width: 100%;
    height: auto;
}

.event-details {
    margin-left: 20px;
    flex-grow: 1;
}

.group-info-link {
    text-decoration: none;
    color: inherit;
}

.group-info {
    display: flex;
    align-items: center;
}

.group-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.event-meta {
    margin-top: 10px;
}

.event-meta p {
    margin: 5px 0;
}

.event-details h2 {
    margin-top: 20px;
}
