.event-detail-page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

.section1-event-header {
    margin: 20px 100px;
}

.event-detail-breadcrumb {
    margin: 10px 0px 10px 0px;
}

.event-detail-breadcrumb span {
    margin-right: 5px;
    font-weight: bold;
}

.event-breadcrumb-link {
    text-decoration: none;
    color: #02798a !important; 
    font-weight: bold;
    text-decoration: underline;
}

.section2-event-body {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 100px 100px 100px;
}

.event-detail-top-container {
    display: flex;
}

.event-image-container {
    background-color: white;
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-right: 20px;
    
}

.event-detail-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 400px;
}

.event-details-info-container {
    /* border: 1px solid red; */
    width: 400px;
}

.event-details-group-image {
    margin: 10px;
    width: 90px;
    height: 60px;
    object-fit: cover;
    background-color:rgb(240, 240, 240) ;
}

.event-details-group-card {
    background-color: white;
    display: flex;
    border-radius: 8px;
}

.event-details-group-card-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
}

.event-details-event-card {
    background-color: white;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    border-radius: 8px;
}

.event-detail-bottom-container {
    /* border: 1px solid blue; */
    padding: 10px 0px 0px 0px;  
}

.event-meta p::before {
    content: '\25CF'; /* Unicode for a bullet point */
    margin-right: 8px;
    color: grey;
}

.event-meta p .fas.fa-clock::before {
    content: '\1F553'; /* Unicode for a clock face */
}

.event-meta p .fas.fa-dollar-sign::before {
    content: '\1F4B2'; /* Unicode for a dollar symbol */
}

.event-meta p .fas.fa-map-pin::before {
    content: '\1F4CC'; /* Unicode for a pushpin */
}

.event-organizer-buttons {
    display: flex;
    gap: 10px;
}

.event-organizer-buttons button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px; 
    cursor: pointer;
}

.update-event-button,
.delete-event-button {
    background-color: darkgrey;
    white-space: nowrap; 
}

.update-event-button:hover,
.delete-event-button:hover {
    background-color: grey;
    white-space: nowrap; 
}