/* Global styles and resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 60px !important;
}

h2 {
    font-size: 30px !important;
}

h3 {
    font-size: 20px !important;
}