/* Global styles and resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 26px !important;
}

h3 {
  font-size: 20px !important;
}

h4 {
  font-size: 22px !important;
  font-weight: normal;
}

/* --- list pages --- */

.list-page {
  padding: 0px 40px;
}

.list-section1 {
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
}

.list-headers {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header-gray {
  color: gray;
}

.header-teal {
  color:  #1B798A;
  text-decoration: underline;
}
.list-page-caption {
  margin: 10px 0px 20px 0px;
  font-size: 18px;
  font-weight: bold;
}

.form-container {
  max-width: 600px; 
  margin: 20px 20px 20px 40px;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 10px; 
}

.field-error {
  color: #f64060;
}

.form-incomplete-error {
  color: #f64060;
  margin: 10px;
  text-align: left;
}

label {
  font-weight: bold;
}

.default-icon{
  stroke: grey;
}
.bold-icon {
  font-size: 20px; /* Adjust the size as needed */
  fill: grey; /* Removes the fill color */

  stroke-width: 5;
}