/* Global styles and resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 26px !important;
}

h3 {
  font-size: 20px !important;
}

h4 {
  font-size: 22px !important;
  font-weight: normal;
}

/* --- list pages --- */

.list-page {
  padding: 0px 40px;
}

.list-section1 {
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
}

.list-headers {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header-gray {
  color: gray;
}

.header-teal {
  color: teal;
  text-decoration: underline;
}
.list-page-caption {
  margin: 10px 0px 20px 0px;
  font-size: 18px;
  font-weight: bold;
}

