/* Navigation.css */

/* Style for the navigation bar */
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

/* Style for the logo */
.logo img {
    height: 40px;
}

/* Style for the navigation links */
.nav-links {
    display: flex;
    align-items: center;
}

/* Specific styles for the login button */
.login-button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    font-weight: bold;
}

.login-button:hover {
    color: #02798a;
    font-weight: bold;
}

/* Specific styles for the signup button */
.signup-button {
    background-color: #02798a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #049cac;
}
